In [1]:
import numpy as np
from scipy.cluster.vq import kmeans,vq
from scipy.spatial.distance import cdist
import matplotlib.pyplot as plt
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
# load the iris dataset
df_full_file = pd.read_csv('D://Kaggle/train/fulldata.csv')

#fName = 'C:\\Python27\\Lib\\site-packages\\scipy\\spatial\\tests\\data\\iris.txt'
#fp = open(fName)
#X = np.loadtxt(fp)
#fp.close()

##### cluster data into K=1..10 clusters #####

In [3]:
#K = range(1,10)

# scipy.cluster.vq.kmeans
#kmeans(df[df.columns[1:]],3)
#KM = [kmeans(df_full_file[df_full_file.columns[1:56]],3) ]
#centroids = [cent for (cent,var) in KM]   # cluster centroids
#avgWithinSS = [var for (cent,var) in KM] # mean within-cluster sum of squares

# alternative: scipy.cluster.vq.vq
#Z = [vq(X,cent) for cent in centroids]
#avgWithinSS = [sum(dist)/X.shape[0] for (cIdx,dist) in Z]

In [4]:
from sklearn.cluster import KMeans

In [5]:
km_new = KMeans(n_clusters=3, init='k-means++', n_init=10)

In [6]:
km_new.fit(df_full_file)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [7]:
x = km_new.fit_predict(df_full_file)

In [8]:
df_full_file["Cluster"]= x
df_full_file.head()

,id,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,...,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin,target,Cluster
0,7,2,2,5,1,0,0,1,0,0,...,5,8,0,1,1,0,0,1,0,2
1,9,1,1,7,0,0,0,0,1,0,...,1,9,0,1,1,0,1,0,0,2
2,13,5,4,9,1,0,0,0,1,0,...,7,7,0,1,1,0,1,0,0,2
3,16,0,1,2,0,0,1,0,0,0,...,4,9,0,0,0,0,0,0,0,2
4,17,0,2,0,1,0,1,0,0,0,...,1,3,0,0,0,1,1,0,0,2

In [9]:
df_full_file.Cluster.value_counts()

1    496495
0    496009
2    495524
Name: Cluster, dtype: int64

In [17]:
df_cluster_1 = df_full_file.loc[df_full_file['Cluster'] == 1]

In [18]:
df_cluster_1.shape

(298124, 60)

In [19]:
df_cluster_1.target.value_counts()

2    178867
0    114928
1      4329
Name: target, dtype: int64

In [10]:
df_cluster_0 = df_full_file.loc[df_full_file['Cluster'] == 0]
df_cluster_1 = df_full_file.loc[df_full_file['Cluster'] == 1]
df_cluster_2 = df_full_file.loc[df_full_file['Cluster'] == 2]
df_cluster_3 = df_full_file.loc[df_full_file['Cluster'] == 3]
df_cluster_4 = df_full_file.loc[df_full_file['Cluster'] == 4]

In [11]:
df_cluster_0.shape
df_cluster_1.shape
df_cluster_2.shape
df_cluster_3.shape
df_cluster_4.shape

(0, 60)

In [13]:
df_cluster_0.target.value_counts()

2    297454
0    191380
1      7175
Name: target, dtype: int64

In [26]:
df_cluster_2_train = df_cluster_2.loc[df_cluster_2['target'] != 2]

In [31]:
df_cluster_2_train.shape

(198297, 60)

In [14]:
df_cluster_1.target.value_counts()

2    298135
0    191113
1      7247
Name: target, dtype: int64

In [15]:
df_cluster_2.target.value_counts()

2    297227
0    191025
1      7272
Name: target, dtype: int64

In [32]:
df_cluster_2_train.to_csv('D://Kaggle/train/cluster_2_train.csv', index=False)

In [33]:
df_cluster_2_test.to_csv('D://Kaggle/train/cluster_2_test.csv', index=False)